@model IEnumerable<readJsonLogs.Models.ResponseB2b>

@{
    ViewBag.Title = "ResponseB2b";
}

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="myDataTable" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Serviço</th>
                                        <th>OS</th>
                                        <th>Json</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClientProcessOrder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Json)
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /#page-wrapper -->
@section Scripts{
    <!-- JS -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //Pega os dados do banco de dados para preencher o datatable
            var oTable = $("#myDataTable").DataTable({
                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Procurar",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                },
                "processing": true, // mostrar a progress bar
                //"serverSide": true, // processamento no servidor
                "filter": true, // habilita o filtro(search box)
                "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
                "pageLength": 3, // define o tamanho da página
                //"ajax": {
                //    "url": "/ResponseB2b/GetLogs",
                //    "type": "GET",
                //    "dataType": "json"
                //},
                //"columns": [
                //    { "data": "date", "title": "date", "autowidth": true },
                //    { "data": "requestName", "title": "requestName", "autowidth": true },
                //    { "data": "clientProcessOrder", "title": "clientProcessOrder", "autowidth": true },
                //    { "data": "json", "title": "json", "autowidth": true },]
            });
        });
    </script>
}
